.columns {
  display: flex;
  justify-content: start;
  gap: 15px;
  overflow-x: scroll;
  padding: 30px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--mainColor) var(--mainColor);
}

.boardList {
  display: flex;
  gap: 15px;
}

.boardColumnItem {
  position: relative;
  background: rgba(0,0,0,.1);
  padding: 10px;
  border-radius: 0.5rem;
  height: max-content;
}

.controlTask {
  width: 250px;
  max-height: 100px;
  margin-top: 15px;
}

.titleTask {
  text-align: center;
}

.editTask {
  position: absolute;
  top: 8px;
  right: 20px;
  padding: 3px;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease-in .3s;
}

.editTask:hover {
  background: #bdbdbd;
  opacity: .6;
}

.renameInput {
  display: block;
  max-width: 80%;
  padding: 5px;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0.45rem;
  outline: none;
  margin: 0 auto;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*anim*/

.addFormTaskEnter {
  opacity: 0;
}

.addFormTaskEnterDone {
  transition: opacity 1s;
  opacity: 1;
}

